<h2>List of Items</h2>
<a href="/categories">Daftar kategori</a>
<table>
    <thead>
        <th style="text-align:left">No</th>
        <th style="text-align:left">Nama</th>
        <th style="text-align:left">Harga</th>
        <th style="text-align:left">Category</th>
        <th style="text-align:left">Option</th>
    </thead>
    <tbody>
        <% items.each do |item|%>
            <tr>
                <td style="text-align:left"><%= item.id%></td>
                <td style="text-align:left"><%= item.nama%></td>
                <td style="text-align:right"><%= item.price%></td>
                <td style="text-align:left">
                    <% item.categories.each do |category|%>
                        <%= category.equal?(item.categories.last) ? category.category : category.category + ', ' %>
                    <% end %>
                </td>
                <td>
                    <a href="/item/<%= item.id%>">Show Details</a>
                    <a href="/item/<%= item.id%>/edit">Edit</a>
                    <a href="/item/<%= item.id%>/delete">Delete</a>
                </td>
            </tr>
        <% end%>
    </tbody>
</table>
<br/>
<br/>
<a href="/items/new">Create new item</a>