<a href="/items">< Kembali</a>
<br/>
<h2>Detail menu</h2>
<table>
    <tbody>
        <tr>
            <td style="text-align:left; font-weight: bold;">id</td>
            <td style="text-align:left"><%= item.id%></td>
        </tr>
        <tr>
            <td style="text-align:left; font-weight: bold;">Nama</td>
            <td style="text-align:left"><%= item.nama%></td>
        </tr>
        <tr>
            <td style="text-align:left; font-weight: bold;">Harga</td>
            <td style="text-align:left"><%= item.price%></td>
        </tr>
        <tr>
            <td style="text-align:left; font-weight: bold;">Kategori</td>
            <td style="text-align:left"><%= item.category.category%></td>
        </tr>
    </tbody>
</table>
<br/>
<a href="/item/<%= item.id%>/edit">Edit item</a>
<a href="/item/<%= item.id%>/delete">Delete item</a>