<h2>Edit Item</h2>
<form action="/item" method="POST">
    <input type="hidden" name="id" value="<%= item.id%>">
    <label>Nama</label><br/>
    <input type="text" id="nama" name="nama" value="<%= item.nama%>"> <br/>
    <label>Harga</label><br/>
    <input type="text" id="price" name="price" value="<%= item.price%>"><br/>
    <fieldset>
        <legend>Kategori item</legend>  
        <% categories.each do |category|%>
            <input type="checkbox" name="categories[]" value="<%= category.id%>"
                <% if item_categories_id.include?(category.id)%> checked="checked" <%end%>
            /><%= category.category%>
        <% end %>
    </fieldset><br/><br/>
    <br/>
    <br/>
    <input type="submit" value="Edit item">
    <a href="/items">Batal edit</a>
</form>